.bg {
  width: 255px;
  height: 135px;
  position: relative;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  background-color: var(--color-white);
  display: none;
}
.diamondIcon,
.div {
  position: relative;
  z-index: 1;
}
.div {
  align-self: stretch;
  line-height: 20px;
}
.diamondIcon {
  height: 32px;
  width: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.benefitIcons,
.benefitsList {
  display: flex;
  align-items: flex-start;
}
.benefitIcons {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.benefitsList {
  flex: 1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-11xl) var(--padding-9xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 191px;
  max-width: 255px;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-ubuntu);
}
